h1 {
    background-color: rgb(71, 66, 66);
    text-align: center;
    color: white;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.name {
    font-size: 25px;
    font-weight: 600;
    text-align: center
}

#city-status {
    width: 60%;
    margin: auto;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 25px;
}

#currentWeather{
    background-color: blue;
    color: white;
    width: 60%; 
    margin: auto;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 25px;
}

.fiveDay {
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 5px;
    margin:60px;

}

.red{
    background-color: red; 
}

.orange {
    background-color: orange;
}